SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
DATABASE_URL=file:./dev.sqlite
SCOPES=read_orders,read_all_orders,read_products,read_files,write_files,customer_read_customers,customer_read_orders
